/*header y nav
a {
    text-decoration: none;
    color: rgb(107, 32, 145);
    font-weight: 600;
}*/

.nav-bar{
    display:flex;
    justify-self: flex-end;
    list-style: none;
    transition: height 0.5s;
    background: linear-gradient( to bottom, rgb(33, 186, 197),white);
    font-weight: 600;
    margin-bottom: 20px;
}

.nav-bar li:hover{
    height: 150 px;
    font-size: 30px;
}


.centrado {
    text-align: center;
}

.cursiva{
    font-style: italic;
}

.fuente-mediana{
    font-size: 15px;
    line-height: 1.5;
}

.fuente-grande{         /*interlineado 1.5*/
    font-size: 35px;
    line-height: 1.5;
}

.espacio-doble{              /*interlineado 2 */
    line-height: 2;
}
     
.espacio-dosymedio{         /*interlineado 2.5*/
    line-height: 2.5;
}

/*paleta de colores*/
.colorVioleta{
    color: rgb(59, 5, 87);
}

.colorRosa{
    color: rgb(247, 0, 255);
}

.colorGris{
    color:rgb(44, 41, 41);
}

.colorTurquesa{
    color:rgb(32, 178, 189);
}

/*pages y secciones*/
.nombre-seccion { 
    font-size: 40px;
    font-weight: 600px;
    text-align:center;
    margin-top: 20px;
}

.formulario{
    font-size: 20px;
    line-height: 1.5;
    font-weight: 600;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 80px;
}   

.button{
    text-decoration: none;
    color: rgb(59, 5, 87);
    padding: 0.5 rem;
    padding-top: 10px;
    border-radius: 8px;
    }

.celda{
    border-radius: 8px;
    border-style: groove;
    width: 300px;
    color: rgb(59, 5, 87)
}

#resumen {
    background: linear-gradient( to bottom, rgb(201,33,84), rgb(238, 71, 132), white);
    font-weight: 500;
    padding: 50px;
    margin-top: 20px;
}

/*
.parallax{
    background-image:url(../img/images.jfif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    }*/

#enlace-wapp{
    position:fixed;
    bottom: 0;
    right: 40px;
    }

.titulo-mapa{
    color: rgb(32, 178, 189);
    font-style: italic;
    margin-right: 35px;
    margin-left: 50px;
}

/*BODY*/

.grid-container {  
    display: grid;
    grid-template-areas:
    "nav nav nav"
    "galeriadeImagenes galeriadeImagenes galeriadeImagenes"
    "mapa mapa mapa"
    "footer footer footer";
}


.mapa { 
    display: flex;
    margin-left: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

.footer { 
    display: flex;
    background: linear-gradient( to bottom, rgb(201, 33, 84),white);
    color: black;
    padding: 30px;
    margin-top: 30px;
 }

/*MEDIA QUERIES*/

/*DESKTOP*/

@media (min-width: 1024px){   
    .grid-container {  
        display: grid;
        grid-template-areas:
        "nav nav nav"
        "galeriadeImagenes galeriadeImagenes galeriadeImagenes "
        "mapa mapa mapa"
        "footer footer footer";
    }

    .galeriadeImagenes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
    padding: 50px;
    margin-top: 50 px;
    margin-left: 50px;
    }

    .imagenes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 20px;
        padding: 50px;
        margin-top: 50 px;
        margin-left: 50px;
        }
}

/*TABLET*/

@media (min-width: 768px){   
    .grid-container {  
        display: grid;
        grid-template-areas:
        "galeriadeImagenes galeriadeImagenes"
        "mapa mapa"
        "footer footer";
    }
}

/*CELULAR*/

@media (max-width: 320px) { 
    .grid-container {  
        display: grid;
        grid-template-areas:
        "galeriadeImagenes"
        "mapa"
        "footer";
    }  
}


/*.carrito{    **desarrollar**
    height: 50px;
    margin-top: 10px;
}*/